// =============================
// global.scss
// =============================
// Used for single page styles.

.page{
	width: 100%;
	background: inherit;
    color: var(--c-pageText);
    justify-self: center;
    padding: 0 1rem;
    max-width: 1000px;
    @include flexbox{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    img{
        max-width: 100%;
    }

    figure{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    h1{
        margin-right:auto;
        margin-bottom: 0px;
    }
    h2{
        margin-right:auto;
        margin-bottom: 0px;
    }
    h3{
        margin-right:auto;
        margin-bottom: 0px;
    }

    .formula-wrapper{
        max-width: calc(100vw - 2rem);
        overflow-x: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .table-wrapper{
        max-width: calc(100vw - 2rem);
        overflow-x: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
